<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>


<script>
    const PostDetailApp = {
        // 장고의 템플릿 문법과 충돌을 피하기 위함
        delimiters: ['[[', ']]'],
        data() {
            return {
                post: {},
                prevPost: {},
                nextPost: {},
                cateList: [],
                tagList: [],
                commentList: [],
            }
        },
        // 서버로 부터 데이터를 가져옴
        created() {
            console.log("created()...");
            // url에서 페이지 번호 가져옴
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },

        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...", postId);
                // 장고로 axios를 날려서 데이터를 가져온다
                axios.get(`/api/post/${postId}/`)
                    // 성공시
                    .then(res => {
                        console.log("FETCH POSTDETAIL GET RES", res);
                        // 장고로 부터 받은 데이터는 res.data에
                        // 들어있고 이것을 postList변수에 넣는다
                        this.post = res.data.post;
                        this.prevPost = res.data.prevPost;
                        this.nextPost = res.data.nextPost;
                        this.commentList = res.data.commentList;
                    })
                    // 실패시
                    .catch(err => {
                        console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
                        alert('${err.response.status} ${err.response.statusText}');
                    });
            },

            fetchCateTagList() {
                console.log("fetchCateTagList()...");
                // 장고로 axios를 날려서 데이터를 가져온다
                axios.get('/api/catetag/')
                    // 성공시
                    .then(res => {
                        console.log("FETCH CATE-TAG-LIST GET RES", res);
                        this.cateList = res.data.cateList;
                        this.tagList = res.data.tagList;
                    })
                    // 실패시
                    .catch(err => {
                        console.log("FETCH CATE-TAG-LIST GET ERR.RESPONSE", err.response);
                        alert('${err.response.status} ${err.response.statusText}');
                    });
            },

            serverPage(category = '', tag = '') {
                console.log("serverPage()...", category, tag);
                // 카테고리와 태그를 동시에 클릭할 순 없다
                if (category && tag) alert(`serverPage() both args Error: ${category} and ${tag}`);
                else if (category) location.href = `/?category=${category}#portfolio`;
                else if (tag) location.href = `/?tag=${tag}#portfolio`;
                else location.href = '/#portfoilo';
            },

            likeCount(postId) {
                console.log('likeCount()...', postId);
                axios.get(`/api/like/${postId}/`)
                    .then(res => {
                        console.log("LIKE-COUNT GET RES", res);
                        this.post.like = res.data;
                    })
                    .catch(err => {
                        console.log("LIKE-COUNT GET ERR.RESPONSE", err.response);
                        alert('${err.response.status} ${err.response.statusText}');
                    });
            },
        },
    }

    Vue.createApp(PostDetailApp).mount('#page-top')
</script>