{% extends 'base.html' %}

{% load static %}


{% block title %}home.html{% endblock %}

{% block extra-style %}
<style>
    .my-img-h300 {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .my-post-title {
        height: 60px;
    }
</style>
{% endblock %}

{% block content %}

<!-- Blog Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Blog List</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div v-for="post in postList" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" :href="'/blog/post/${post.id}/#post'">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid my-img-h300" :src="post.image" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-subheading text-muted">[[ post.category ]]</div>
                        <div class="portfolio-caption-heading my-post-title">[[ post.title ]]</div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- Iam-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ryu</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/1.jpg' %}" alt="..." />
                    <h4>123</h4>
                    <p class="text-muted">Web programer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                소개
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block extra-script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>


<script>
    const PostListApp = {
        // 장고의 템플릿 문법과 충돌을 피하기 위함
        delimiters: ['[[', ']]'],
        data() {
            return {
                postList: [],
            }
        },
        // 서버로 부터 데이터를 가져옴
        created() {
            console.log("created()...");
            this.fetchPostList();
        },

        methods: {
            fetchPostList() {
                console.log("fetchPostList()...");
                // 장고로 axios를 날려서 데이터를 가져온다
                axios.get('/api/post/list/')
                // 성공시
                .then(res => {
                    console.log("FETCH POSTLIST GET RES", res);
                    // 장고로 부터 받은 데이터는 res.data에
                    // 들어있고 이것을 postList변수에 넣는다
                    this.postList = res.data;
                })
                // 실패시
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert('${err.response.status} ${err.response.statusText}');
                });
            },
        },
    }

    Vue.createApp(PostListApp).mount('#page-top')
</script>
{% endblock %}